<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <services>
        <service name="MgicBall.MagicBall">
          <endpoint 
                    binding="basicHttpBinding"
                    contract="MgicBall.IBall"/>
        </service>
      </services>
    </system.serviceModel>
</configuration>